*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  color: #fff;
  background-color: #010101;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  overflow-x: hidden;
}

[data-aos=scale-before]::before {
  transform: scale(0.2) translate(-50%, -50%);
  transition-property: transform;
}
[data-aos=scale-before].aos-animate::before {
  transform: translateY(-50%, -50%);
}

[data-aos=up-before]::before {
  transform: translateY(20%);
  transition-property: transform;
}
[data-aos=up-before].aos-animate::before {
  transform: translateY(0);
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-hidden body {
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  padding: 0 80px;
  max-width: 1440px;
}

.main__title {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 78px;
}
.main__title span {
  background: linear-gradient(90deg, #0085ff 0%, #61c5ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.main__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
}

.socials ul {
  display: flex;
  margin: 0 -10px;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  display: flex;
}

.navigation ul {
  display: flex;
  margin: 0 -28px;
}
.navigation li {
  margin: 0 28px;
  font-weight: 600;
}

.page-wrapper {
  position: relative;
  overflow: hidden;
}
.page-wrapper::before {
  content: "";
  position: absolute;
  width: 933px;
  height: 984px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -580px;
  background: #cdcdcd;
  opacity: 0.2;
  filter: blur(170px);
}

.header {
  padding: 10px 0;
  background: rgba(34, 35, 37, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  position: relative;
  z-index: 4;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__languages {
  margin-left: 80px;
}
.header__languages ul {
  display: flex;
  margin: 0 -8px;
}
.header__languages li {
  margin: 0 8px;
  font-weight: 600;
}
.header__languages li.active {
  opacity: 0.6;
}
.header__socials {
  margin-left: 60px;
}
.header__burger {
  display: none;
  margin-left: 55px;
}
.header__burger span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #f8f8f8;
  margin-bottom: 6px;
}
.header__burger span:last-child {
  margin-bottom: 0;
}
.header__menu-close {
  display: none;
}

.hero {
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  width: 431px;
  height: 454px;
  left: -207px;
  top: 353px;
  background: #cdcdcd;
  opacity: 0.2;
  filter: blur(170px);
}
.hero__caption {
  margin-bottom: 22px;
}
.hero__inner {
  padding-top: 115px;
  padding-bottom: 500px;
  position: relative;
}
.hero__row {
  display: flex;
}
.hero__title {
  margin-bottom: 45px;
}
.hero__text {
  max-width: 506px;
  margin-bottom: 95px;
}
.hero__btn {
  background: #ffffff;
  box-shadow: 0px 0px 50px #0085ff;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 30px;
  text-align: center;
  color: #010101;
  width: 280px;
  position: relative;
  z-index: 4;
}
.hero__btn img {
  flex-shrink: 0;
  margin-right: 6px;
}
.hero__media {
  margin-left: 120px;
}
.hero__media-item {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 13px;
  width: 371px;
  height: 517px;
  background: url("../img/card-border.svg") center no-repeat;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.hero__media-item--silver {
  background-image: url("../img/card-silver.svg");
  width: 373px;
  height: 520px;
  position: absolute;
  right: 185px;
  top: 160px;
  transform: rotate(0);
}
.hero__media-item--gold {
  background-image: url("../img/card-gold.svg");
  z-index: 3;
  position: relative;
}
.hero__media-item--gold::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 379px;
  height: 350px;
  background: url("../img/diamond-bg-2.svg") center no-repeat;
  z-index: -1;
  filter: blur(12px);
}
.hero__media-item--platinum {
  position: absolute;
  height: 516px;
  width: 369px;
  background-image: url("../img/card-platinum.svg");
  right: 185px;
  top: 160px;
  transform: rotate(0);
  transition: 1s ease;
}
.hero__media-item--platinum .hero__media-body video {
  z-index: 3;
}
.hero__media-body video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  z-index: 5;
  max-width: none;
}
.hero__media-footer {
  position: relative;
  z-index: 4;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(8, 18, 26, 0.7);
  border-radius: 13px;
  padding: 18px 33px;
  border: 3px solid #0085ff;
  margin-top: auto;
}
.hero__media-name {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 19px;
  line-height: 1.3;
  text-transform: uppercase;
}
.hero__media-icon {
  margin-left: 20px;
}

.about__inner {
  position: relative;
}
.about__head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
}
.about__caption {
  max-width: 410px;
  font-weight: 300;
  line-height: 1.5;
  justify-self: flex-end;
  margin-right: 110px;
  color: rgba(255, 255, 255, 0.8);
}
.about__title {
  margin-bottom: 0;
}
.about__text {
  margin-top: 80px;
  max-width: 400px;
}
.about__media-wrapper {
  position: relative;
  top: -250px;
}
.about__media {
  position: relative;
  text-align: center;
}
.about__media::before {
  position: absolute;
  content: "";
  width: 1440px;
  height: 1632px;
  left: 50%;
  top: calc(50% + 65px);
  transform: translate(-50%, -50%) scale(0.5);
  background: url("../img/about-bg.svg") center no-repeat;
  border-radius: 50%;
  z-index: -1;
  transition: 1s ease;
}
.about__media video {
  width: 920px;
}
.about__crystall {
  position: absolute;
}
.about__crystall--1 {
  top: 244px;
  right: 320px;
  filter: blur(1px);
}
.about__crystall--2 {
  bottom: 128px;
  right: 150px;
  filter: blur(1px);
  transform: rotate(18.16deg);
}
.about__crystall--3 {
  bottom: 270px;
  left: 472px;
  filter: blur(2px);
}
.about__crystall--4 {
  left: 248px;
  top: 450px;
  filter: blur(1px);
  transform: rotate(13.62deg);
}
.about__stat {
  position: absolute;
  right: 65px;
  top: 300px;
  font-family: "Dela Gothic One", sans-serif;
  line-height: 1.3;
}
.about__stat span {
  font-size: 32px;
}
.about__stat strong {
  font-size: 64px;
  display: block;
}

.integrations {
  padding-bottom: 204px;
  position: relative;
  margin-top: -135px;
}
.integrations::after {
  position: absolute;
  content: "";
  width: 1052.88px;
  height: 1110.38px;
  left: -425px;
  top: 157px;
  background: #cdcdcd;
  opacity: 0.2;
  filter: blur(160px);
  z-index: -1;
}
.integrations__title {
  margin-bottom: 80px;
  text-align: center;
}
.integrations__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-backdrop-filter: blur(37.8544px);
          backdrop-filter: blur(37.8544px);
  border-radius: 14.4207px;
  padding: 85px 138px 58px 106px;
  transition: 0.65s ease;
}
.integrations__content::before {
  position: absolute;
  content: "";
  background: url("../img/diamond.svg") center no-repeat;
  width: 103px;
  height: 85px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 130px;
  transform: translateY(150px);
  transition: 0.7s ease;
}
.integrations__content:hover {
  transform: scale(1.05);
}
.integrations__info {
  max-width: 380px;
  margin-left: 60px;
}
.integrations__buttons {
  width: 280px;
}
.integrations__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  background-image: radial-gradient(circle at 100% 100%, transparent 8px, #0085ff 8px, #0085ff 10px, transparent 10px), linear-gradient(to right, #0085ff, #61c5ca), radial-gradient(circle at 0% 100%, transparent 8px, #61c5ca 8px, #61c5ca 10px, transparent 10px), linear-gradient(to bottom, #61c5ca, #61c5ca), radial-gradient(circle at 0% 0%, transparent 8px, #61c5ca 8px, #61c5ca 10px, transparent 10px), linear-gradient(to left, #61c5ca, #0085ff), radial-gradient(circle at 100% 0%, transparent 8px, #0085ff 8px, #0085ff 10px, transparent 10px), linear-gradient(to top, #0085ff, #0085ff);
  background-size: 10px 10px, calc(100% - 20px) 2px, 10px 10px, 2px calc(100% - 20px);
  background-position: top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
  background-repeat: no-repeat;
}
.integrations__btn:first-child {
  margin-bottom: 25px;
}
.integrations__btn img {
  flex-shrink: 0;
  margin-right: 17px;
}
.integrations__logo {
  margin-bottom: 25px;
}
.integrations__text {
  font-weight: 300;
  line-height: 1.5;
  color: #fbfeff;
  opacity: 0.8;
}

.roadmap__title {
  text-align: center;
}
.roadmap__boxes {
  position: relative;
  display: grid;
  align-items: flex-start;
  gap: 109px 122px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "box-1 box-2" "box-3 box-2";
}
.roadmap__boxes::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 77px;
  transform: translateX(-50%);
  background: url("../img/roadmap-lines.svg") center no-repeat;
  width: 133px;
  height: 603px;
  z-index: -1;
}
.roadmap__box {
  padding: 55px 65px;
  background: #08121a;
  box-shadow: 0px -2px 12px 9px rgba(255, 255, 255, 0.18);
  border-radius: 18px;
  transition: 1.7s ease;
}
.roadmap__box:hover {
  transform: scale(1.1);
}
.roadmap__box:nth-child(2) {
  margin-top: 90px;
  grid-area: box-2;
}
.roadmap__box:nth-child(3) {
  grid-area: box-3;
}
.roadmap__box:first-child {
  grid-area: box-1;
}
.roadmap__box ul {
  margin-top: auto;
}
.roadmap__box li {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 25px;
}
.roadmap__box li:last-child {
  margin-bottom: 0;
}
.roadmap__box-title {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 43px;
  text-transform: uppercase;
}

.team {
  padding-bottom: 72px;
  padding-top: 200px;
}
.team__title {
  text-align: center;
}
.team__list {
  padding-top: 55px;
  position: relative;
}
.team__list::before {
  position: absolute;
  content: "";
  width: 1440px;
  height: 1632px;
  left: 50%;
  top: calc(50% - 63px);
  transform: translate(-50%, -50%) scale(0.5);
  background: url("../img/about-bg.svg") center no-repeat;
  border-radius: 50%;
  z-index: -1;
  transition: 1s ease;
}
.team__list::after {
  position: absolute;
  content: "";
  width: 310px;
  height: 323px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/diamond-bg.svg") center no-repeat;
  z-index: -1;
}
.team__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -64px -9px;
}
.team__subrow {
  display: flex;
}
.team__item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  height: 290px;
  margin: 64px 9px;
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  border-radius: 7px;
}
.team__item-body {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6px;
}
.team__item-body video {
  height: 335px;
}
.team__item-footer {
  font-size: 10px;
  line-height: 1.3;
  padding: 11px 18px;
  background: rgba(8, 18, 26, 0.7);
  border-radius: 7px;
  margin-top: auto;
  background-image: radial-gradient(circle at 100% 100%, transparent 8px, #0085ff 8px, #0085ff 10px, transparent 10px), linear-gradient(to right, #0085ff, #61c5ca), radial-gradient(circle at 0% 100%, transparent 8px, #61c5ca 8px, #61c5ca 10px, transparent 10px), linear-gradient(to bottom, #61c5ca, #61c5ca), radial-gradient(circle at 0% 0%, transparent 8px, #61c5ca 8px, #61c5ca 10px, transparent 10px), linear-gradient(to left, #61c5ca, #0085ff), radial-gradient(circle at 100% 0%, transparent 8px, #0085ff 8px, #0085ff 10px, transparent 10px), linear-gradient(to top, #0085ff, #0085ff);
  background-size: 10px 10px, calc(100% - 20px) 2px, 10px 10px, 2px calc(100% - 20px);
  background-position: top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
  background-repeat: no-repeat;
}
.team__position {
  color: rgba(255, 255, 255, 0.7);
}
.team__name {
  text-transform: uppercase;
  font-family: "Dela Gothic One", sans-serif;
}

.footer {
  background: #030c13;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  padding-top: 60px;
  padding-bottom: 52px;
}
.footer__inner {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
  grid-template-areas: "navigation navigation navigation" "info policy socials";
}
.footer__navigation {
  grid-area: navigation;
  margin-bottom: 35px;
}
.footer__navigation ul {
  justify-content: center;
}
.footer__navigation a:hover {
  text-decoration: underline;
}
.footer__logo {
  grid-area: info;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.footer__logo img {
  flex-shrink: 0;
  margin-left: 25px;
}
.footer__socials {
  grid-area: socials;
}
.footer__socials ul {
  justify-content: flex-end;
}
.footer__policy {
  grid-area: policy;
  line-height: 1.4;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.73);
}

@media screen and (max-width: 1400px) {
  .container {
    padding: 0 40px;
  }

  .hero__media {
    margin-left: 45px;
  }
  .hero__media-item--silver {
    right: 300px;
  }
}
@media screen and (min-width: 1200px) {
  [data-aos=frog-left] {
    right: 185px;
    top: 160px;
    transform: rotate(0);
    transition: 1s ease;
  }
  [data-aos=frog-left].aos-animate {
    right: 380px;
    top: 515px;
    transform: rotate(-15deg);
  }

  [data-aos=frog-right] {
    right: 185px;
    top: 160px;
    transform: rotate(0);
    transition: 1s ease;
  }
  [data-aos=frog-right].aos-animate {
    right: -150px;
    top: 100px;
    transform: rotate(15deg);
  }
}
@media screen and (max-width: 1200px) {
  .main__text {
    font-size: 20px;
  }
  .main__title {
    font-size: 50px;
  }

  .hero__inner {
    padding-bottom: 700px;
  }
  .hero__text {
    margin-bottom: 60px;
  }
  .hero__title {
    margin-bottom: 27px;
  }
  .hero__media {
    margin-top: 0;
    margin-left: 40px;
  }
  .hero__media-item--silver {
    right: auto;
    left: 10%;
    top: auto;
    bottom: 180px;
    z-index: 3;
  }
  .hero__media-item--platinum {
    bottom: 95px;
    top: auto;
    right: 10%;
  }

  .about__stat {
    right: auto;
    left: 0;
  }
  .about__caption {
    margin-right: 0;
  }
  .about__media::before {
    background-size: 63%;
  }
  .about__media video {
    width: 750px;
  }

  .integrations::after {
    display: none;
  }
  .integrations__title {
    margin-bottom: 90px;
  }
  .integrations__info {
    max-width: 340px;
  }
  .integrations__content {
    padding: 72px 49px;
  }
  .integrations__content::before {
    top: -42px;
  }

  .roadmap {
    position: relative;
  }
  .roadmap::after {
    position: absolute;
    content: "";
    width: 1052.88px;
    height: 1110.38px;
    left: -363px;
    top: 0;
    background: #cdcdcd;
    opacity: 0.2;
    filter: blur(160px);
    z-index: -1;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    background-color: transparent;
    padding: 15px 0;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
  .header.active .header__menu {
    transform: translateX(0);
  }
  .header__socials {
    margin-left: 0;
    margin-right: auto;
    order: -1;
  }
  .header__socials li {
    margin: 0 8px;
  }
  .header__socials img {
    width: 24px;
  }
  .header__burger {
    display: block;
  }
  .header__languages {
    margin-left: 30px;
  }
  .header__overlay {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    bottom: 9px;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    opacity: 0;
    background-color: rgba(39, 39, 39, 0.5);
  }
  .header__overlay.active {
    opacity: 1;
  }
  .header__menu-close {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 4;
    display: block;
  }
  .header__menu {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 40px);
    max-width: 360px;
    height: 100%;
    z-index: 7;
    background-color: #000;
    transition: 0.35s ease;
    transform: translateX(150%);
    padding: 50px 20px;
    overflow: auto;
  }
  .header__navigation ul {
    flex-direction: column;
    margin: 0;
    font-size: 20px;
  }
  .header__navigation a {
    padding: 8px 0;
  }
  .header__navigation li {
    margin: 5px 0;
  }

  .about {
    padding-bottom: 140px;
  }
  .about__head {
    grid-template-areas: "title title" "text caption";
    grid-template-columns: initial;
    align-items: flex-start;
  }
  .about__title {
    grid-area: title;
    margin-bottom: 40px;
  }
  .about__caption {
    grid-area: caption;
    justify-self: flex-start;
    margin-left: 30px;
    font-size: 14px;
  }
  .about__text {
    grid-area: text;
    margin-top: 0;
    max-width: 310px;
  }
  .about__media-wrapper {
    top: 0;
  }
  .about__crystall--1 {
    width: 63px;
    top: 221px;
    right: 35px;
  }
  .about__crystall--2 {
    width: 91px;
    right: 30px;
  }
  .about__crystall--3 {
    width: 53px;
    bottom: 190px;
    left: 216px;
  }
  .about__crystall--4 {
    width: 78px;
    left: 24px;
    top: 423px;
  }

  .integrations {
    margin-top: 0;
    padding-bottom: 164px;
  }

  .roadmap__boxes {
    display: block;
  }
  .roadmap__boxes::after {
    display: none;
  }
  .roadmap__box {
    margin-bottom: 24px;
  }
  .roadmap__box:nth-child(2) {
    margin-top: 0;
  }

  .team__title {
    margin-bottom: 50px;
  }
  .team__list::before {
    top: 50%;
    background-size: 70%;
  }
  .team__subrow {
    justify-content: center;
  }
  .team__row:first-child {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .team__row:first-child .team__item:first-child {
    margin-bottom: 0;
  }
  .team__row:nth-child(2) {
    display: grid;
    grid-template-columns: auto auto;
    gap: 62px 18px;
    margin: 0;
  }
  .team__row:nth-child(2) .team__item {
    margin: 0;
  }

  .footer__policy {
    font-size: 12px;
  }
}
@media screen and (max-width: 900px) {
  .hero__inner {
    padding-top: 55px;
  }
  .hero__media-item {
    width: 277px;
    height: 388px;
    background-size: cover;
  }
  .hero__media-item--gold::before {
    width: 310px;
    height: 323px;
    background: url("../img/diamond-bg.svg") center no-repeat;
  }
  .hero__media-item--silver {
    bottom: 225px;
  }
  .hero__media-item--platinum {
    bottom: 230px;
  }
  .hero__media-body video {
    bottom: 40px;
    width: 440px;
  }

  .team {
    padding-top: 125px;
  }
}
@media screen and (max-width: 800px) {
  .main__title {
    font-size: 36px;
    word-break: break-word;
  }
  .main__text {
    font-size: 16px;
  }

  .container {
    padding: 0 16px;
  }

  .page-wrapper::before {
    display: none;
  }

  .header__socials li {
    margin: 0 7px;
  }
  .header__socials img {
    width: 20px;
  }

  .hero__inner {
    padding-bottom: 228px;
  }
  .hero__row {
    flex-direction: column;
  }
  .hero__caption {
    margin-bottom: 10px;
  }
  .hero__media {
    display: flex;
    margin: 0;
    padding-top: 100px;
    overflow: auto;
  }
  .hero__btn {
    position: absolute;
    bottom: 127px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .hero__media-item {
    position: static;
    transform: none;
    margin: 0 30px;
    flex-shrink: 0;
  }
  .hero__text {
    margin-bottom: 20px;
  }

  .about {
    padding-bottom: 125px;
    position: relative;
  }
  .about__media::before {
    display: none;
  }
  .about__head {
    display: block;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .about__crystall {
    z-index: 4;
  }
  .about__crystall--1 {
    width: 24px;
    right: 2px;
    top: 95px;
  }
  .about__crystall--2 {
    width: 43px;
    right: 0;
  }
  .about__crystall--3 {
    width: 32px;
    bottom: 60px;
    left: 36px;
  }
  .about__crystall--4 {
    width: 42px;
    left: 0;
    top: 37px;
  }
  .about__caption {
    font-size: 12px;
    text-align: center;
    max-width: 280px;
    margin: 0 auto;
  }
  .about__text {
    max-width: 255px;
  }
  .about__media {
    height: 500px;
  }
  .about__media video {
    width: 500px;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .about__stat {
    position: static;
    text-align: center;
    margin-bottom: 20px;
  }
  .about__stat strong {
    font-size: 32px;
  }
  .about__stat span {
    font-size: 20px;
  }

  .roadmap__title {
    margin-bottom: 30px;
    text-align: left;
  }
}
@media screen and (max-width: 700px) {
  .integrations__title {
    margin-bottom: 32px;
  }
  .integrations__content {
    flex-direction: column-reverse;
    padding: 177px 18px 57px 18px;
    text-align: center;
  }
  .integrations__content::before {
    top: 50px;
  }
  .integrations__text {
    font-size: 12px;
  }
  .integrations__info {
    max-width: 100%;
    margin-bottom: 42px;
    margin-left: 0;
  }

  .roadmap::after {
    display: none;
  }
  .roadmap__box {
    padding: 53px 25px;
  }
  .roadmap__box li {
    font-size: 16px;
    margin-bottom: 13px;
  }
  .roadmap__box-title {
    margin-bottom: 32px;
  }

  .footer {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  .footer__logo {
    order: 5;
  }
  .footer__socials {
    margin-bottom: 35px;
    order: -1;
  }
  .footer__navigation {
    width: 100%;
  }
  .footer__navigation li {
    margin: 10px 0;
  }
  .footer__navigation a {
    display: block;
  }
  .footer__navigation ul {
    flex-direction: column;
    margin: -10px 0;
  }
  .footer__inner {
    grid-template-areas: ". navigation ." "info navigation socials " "policy  navigation .";
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .team .team__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team__list::after {
    display: none;
  }
  .team__subrow {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */